<table border="1" *ngIf="dados.length > 0; else semDados">
    <thead>
        <tr>
            <th *ngFor="let coluna of colunas">{{coluna}}</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dados">
            <td *ngFor="let coluna of colunas"> {{item[coluna]}} </td>
            <td>
                <button class="btn" (click)="editar(item)">Editar</button>
                <button class="btn btn-vermelho" (click)="excluir(item)">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #semDados>
    <h3>Nenhum dado informado!</h3>
</ng-template>